*{
  box-sizing: border-box;
}
.card{
  box-shadow: 5px 5px 3px rgba(0,0,0,.1);
}
.avatar {
  max-width: 40px;
  overflow: hidden;
  max-height: 40px;
}
img{
  max-width: 100%;
}

a.share {
  opacity: .8;
}